<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="/libs/leaflet-0.7.2/leaflet.css" />
		<link rel="stylesheet" href="/map.css" />
	</head>
	<body>
		<section>
			<aside>
				<h2>Your Carbon Footprint</h2>
				<h3>Rides</h3>
				<dl id="ridesList"></dl>
				<div>
					<h3>Total</h3>
					<div id="carbonFootPrintTotal"></div>
				</div>
			</aside>
			<article>
				<div id="map"></div>
			</article>
		</section>
		<script src="/libs/jquery-2.1.0.min.js"></script>
		<script src="/libs/leaflet-0.7.2/leaflet.js"></script>
		<script src="/libs/leaflet.polylineDecorator.min.js"></script>
		<script type="text/javascript">
		$(document).ready(function() {
			var height = $(window).height();
			$('article').height(height);
			var titleHeight = $('aside h2').height() + 20; // 20px margin
			var subTitleHeight = ($('aside h3').height() + 13) * 2; // 13px margin
			var totalCarbonHeight = $('#carbonFootPrintTotal').height();
			$('#ridesList').height(height - titleHeight - subTitleHeight - totalCarbonHeight - 80); // 10px margin

			// total carbon footprint
			var totalCarbon = 0.;

			/*
			 * Put points and draw rides
			 */
			var map;
			var ajaxRequest;
			var plotlist;
			var plotlayers = [];
			initmap();

			// set the CFP
			$('#carbonFootPrintTotal').text(totalCarbon.toFixed(1) + ' kg eq. CO₂');


			//TODO put this somewhere else
			function initmap() {
				// set up the map
				map = new L.Map('map');

				// create the tile layer with correct attribution
				var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
				var osmAttrib='Map data © OpenStreetMap contributors';
				var osm = new L.TileLayer(osmUrl, {minZoom: 8, maxZoom: 20, attribution: osmAttrib});		

				// start the map in South-East England
				map.setView(new L.LatLng(50.6372, 3.0633), 12);
				map.addLayer(osm);

				addMarkers();
			}
			
			function addMarkers() {
			<%
				data.forEach(function(ride) {
					
					// Build an array of coordinates to polyline()
					var coordinates = ride.getCoordinates();
					var latLonArray = [];
			
					/*
					 * Build a array of all position and make markers 
					 * to give some information about the current position (speed, etc.)
					 */
					coordinates.forEach(function(coord, index) {
						var curCoord = [coord.latitude, coord.longitude];
						
						// Array construction
						latLonArray.push(curCoord);
						
						// Compute informations
						var curSpeed = 0;
						if(index > 0) {
							curSpeed = coordinates[index - 1].speed(coordinates[index]).toFixed(1);
						}
						
						// Adds a marker for each coordinate
						%>
						L.marker(<%= JSON.stringify(curCoord) %>).addTo(map)
							.bindPopup('Speed: <%= curSpeed %> km/h');
						<%
					});
					
					// Compute some metrics to display
					var averageSpeed = ride.computeAverageSpeed().toFixed(1);
					var maxSpeed = ride.computeMaxSpeed().toFixed(1);
					var totalDistance = ride.computeTotalDistance().toFixed(3);
					var carbonFootPrint = ride.computeCarbonFootprint().toFixed(1);
					
					// define path color
					var color;
					switch(ride.estimateRideType()) {
						case 'car':
							color = 'red'; break;
						case 'walk':
							color = 'green'; break;
						default:
							color = 'blue';
					}
					
					// Draws the entire path from the previous array
					%>
					L.polyline(<%= JSON.stringify(latLonArray) %>, {color: '<%= color %>'}).addTo(map)
				   		.bindPopup('Total distance: <%= totalDistance %> km<br>\
				   			Average speed: <%= averageSpeed %> km/h<br>\
				   			Max speed: <%= maxSpeed %> km/h<br>\
				   			Carbon Footprint: <%= carbonFootPrint %> kg eq. CO₂');

				   	totalCarbon += <%= carbonFootPrint %>;

				   	// put rides details in the rides list balise
				   	$('#ridesList').append('<dt><%= ride.estimateRideType() %></dt><dd>' + <%= carbonFootPrint %> + ' kg eq. CO₂</dd>');
				    <%
				});
			%>
			}
		});
		</script>
	</body>
</html>
