<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Alexandre Bonhomme">

    <title>Carbon Footprint - Dashboard</title>
    <link rel="stylesheet" href="/libs/bootstrap-3.1.0/bootstrap.min.css" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style id="holderjs-style" type="text/css"></style>

    <!-- Leaflet visualization -->
    <link rel="stylesheet" href="/libs/leaflet-0.7.2/leaflet.css" />
    <link rel="stylesheet" href="/dashboard.css" />
  </head>
  <body style="">

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://getbootstrap.com/examples/dashboard/#">Carbon Footprint Calculator</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://getbootstrap.com/examples/dashboard/#">Dashboard</a></li>
            <li><a href="http://getbootstrap.com/examples/dashboard/#">Settings</a></li>
            <li><a href="http://getbootstrap.com/examples/dashboard/#">Profile</a></li>
            <li><a href="http://getbootstrap.com/examples/dashboard/#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="http://getbootstrap.com/examples/dashboard/#">Overview</a></li>
            <li><a href="http://getbootstrap.com/examples/dashboard/#">Reports</a></li>
            <li><a href="http://getbootstrap.com/examples/dashboard/#">Analytics</a></li>
            <li><a href="http://getbootstrap.com/examples/dashboard/#">Export</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item</a></li>
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header" id="carbon-footprint-total"></h1>

          <div class="row placeholders">
            <!-- Leaflet map visualization -->
            <div id="map"></div>
          </div>

          <h2 class="sub-header">Details</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Vehicule</th>
                  <th>Distance (Km)</th>
                  <th>Emission (Kg eq. CO₂/Km)</th>
                  <th>Total emission (Kg eq. CO₂)</th>
                </tr>
              </thead>
              <tbody id="rides-list"></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/libs/jquery-2.1.0.min.js"></script>
    <script src="/libs/bootstrap-3.1.0/bootstrap.min.js"></script>
    <script src="/libs/bootstrap-3.1.0/docs.min.js"></script>
    <script src="/libs/leaflet-0.7.2/leaflet.js"></script>
    <script src="/libs/leaflet.polylineDecorator.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
      var height = $(window).height();
      $('article').height(height);
      var titleHeight = $('aside h2').height() + 20; // 20px margin
      var subTitleHeight = ($('aside h3').height() + 13) * 2; // 13px margin
      var totalCarbonHeight = $('#carbonFootPrintTotal').height();
      $('#ridesList').height(height - titleHeight - subTitleHeight - totalCarbonHeight - 80); // 10px margin

      // total carbon footprint
      var totalCarbon = 0.;

      /*
       * Put points and draw rides
       */
      // set up the map
      var map = new L.Map('map');

      // create the tile layer with correct attribution
      var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
      var osmAttrib='Map data © OpenStreetMap contributors';
      var osm = new L.TileLayer(osmUrl, {minZoom: 8, maxZoom: 20, attribution: osmAttrib});   

      // start the map in Lille center
      map.setView(new L.LatLng(50.6372, 3.0633), 12);
      map.addLayer(osm);

      // add marker to each point
      addContent();

      // set the CFP
      $('#carbon-footprint-total').text(totalCarbon.toFixed(1) + ' Kg eq. CO₂');

      /**
       * Look over the rides list and
       */
      function addContent() {
      <%
        data.forEach(function(ride) {
          
          // Build an array of coordinates to polyline()
          var coordinates = ride.getCoordinates();
          var latLonArray = [];
      
          /*
           * Build a array of all position and make markers 
           * to give some information about the current position (speed, etc.)
           */
          coordinates.forEach(function(coord, index) {
            var curCoord = [coord.latitude, coord.longitude];
            
            // Array construction
            latLonArray.push(curCoord);
            
            // Compute informations
            var curSpeed = 0;
            if(index > 0) {
              curSpeed = coordinates[index - 1].speed(coordinates[index]).toFixed(1);
            }
            
            // Adds a marker for each coordinate
            %>
            L.marker(<%= JSON.stringify(curCoord) %>).addTo(map)
              .bindPopup('Speed: <%= curSpeed %> km/h');
            <%
          });
          
          // Compute some metrics to display
          var averageSpeed = ride.computeAverageSpeed().toFixed(1);
          var maxSpeed = ride.computeMaxSpeed().toFixed(1);
          var totalDistance = ride.computeTotalDistance().toFixed(3);
          var carbonFootPrint = ride.computeCarbonFootprint().toFixed(1);
          
          // define path color
          var color;
          switch(ride.estimateRideType()) {
            case 'car':
              color = 'red'; break;
            case 'walk':
              color = 'green'; break;
            default:
              color = 'blue';
          }
          
          /*
           * Draw line between each point
           */
          %>
          L.polyline(<%= JSON.stringify(latLonArray) %>, {color: '<%= color %>'}).addTo(map)
              .bindPopup('Total distance: <%= totalDistance %> km<br>\
                Average speed: <%= averageSpeed %> km/h<br>\
                Max speed: <%= maxSpeed %> km/h<br>\
                Carbon Footprint: <%= carbonFootPrint %> Kg eq. CO₂');

          totalCarbon += <%= carbonFootPrint %>;

          /*
           * Put rides details in the rides-list table
           */
          $('#rides-list').append('<tr><td></td><td><%= ride.estimateRideType() %></td><td><%= totalDistance %></td><td><%= (carbonFootPrint/totalDistance).toFixed(2) %></td><td><%= carbonFootPrint %></td>');
          <%
        });
      %>
      }
    });
    </script>
  </body>
</html>